@charset "utf-8";
/*清除默认样式，设置基础样式*/
  /*带有边距的元素*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol{margin:0;
                               padding:0;
							   list-style:none;}
body{font:12px "微软雅黑",sans-serif;
     color:#999;
	 }

  /*取消超链接下划线*/
a{text-decoration:none;
  color:#999;}

a:hover{color:#64a131;}

/*行内块元素对齐方式*/
img,input{vertical-align:bottom;}

#container{width:990px;
           margin:0 auto;}

/*1.导航部分*/
  /*外层容器标签*/
#nav{height:30px;
     background:#eee;
	 line-height:30px;}

#rightNav{float:right;}

  /*里层容器标签*/
#rightNav li{float:left;
             text-align:center;
			 padding-left:5px;}

#rightNav li b{border-right:1px solid #99b0cd;
               margin-right:10px;
			   margin-left:10px;}

/*左侧导航*/
#nav>a>i{display:inline-block;
		 position:relative;
         width:0;
		 height:0;
		 border:6px solid transparent;
		 border-top:6px solid black;
		 top:5px;
         }
  /*调边距*/
#nav>a{margin-left:15px;}

/*banner*/
#banner{margin:15px auto;
        }
#banner img{width:100%;}

/*3.推荐*/
/*父元素font-size*/
#commend{font-size:0;}

#commend img{width:240px;
             margin-right:10px;}

/*!important表示强制将当前选择器的优先级提升至最高*/
#commend .no-margin{margin:0 !important;}

.no-margin{margin:0;}

/*4.main区域*/
#main{margin-top:25px;}
#main>p{border-top:1px solid #ccc;
        padding-top:15px;
		margin-bottom:10px;
        clear:both;}

#main>p>a{float:right;
          color:#333;}

#main>p>img{width:356px;}

/*商品信息展示*/
#main .item{width:190px;
            float:left;
			margin-right:8px;
			margin-bottom:5px;}

#main .item>.proImg{width:190px;
                    height:190px;
					overflow:hidden;}

#main .item>.proImg>img{width:190px;
                        transition:.3s;}
#main .item>.proImg>img:hover{transform:scale(1.1);}
/*购物车*/
#main .item>p{margin:5px 0;}
#main .item>p>img{float:right;}              
#main .item>span{padding-left:5px;}

















