<!doctype html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>天天果园首页</title>
 </head>

 <link rel="stylesheet" href="/static/css/index.css">
 <script src="static/js/jquery-1.11.3.js"></script>
 <script src="static/js/index.js"></script>
 <body>
	<div id="container" class="">
<!--1.导航 	 -->
		<div id="nav" class="">
            <!-- 右侧导航栏 -->
			<ul id="rightNav">
				<li>
					<a href="/login/">[登录]&nbsp</a>
					<a href="/register/">[注册,有惊喜]</a>
				</li>
				<li>
					<b></b>
					果园公告
				</li>
				<li>
					<b></b>
					卷卡兑换
				</li>
				<li>
					<b></b>
					手机果园
				</li>
			</ul>
			<!--2.左侧导航 -->
			<a href="#">
				上海
				<i></i>
			</a>
			<a href="#">
				满百包邮(含环郊)
			</a>
			<a href="#">
				星夜达
			</a>


		</div>

<!--2.banner 	 -->
		<div id="banner" class="">
			<img src="/static/images/banner1.jpg" width="100%" height="auto" border="0" alt="">
		</div>

<!--3.推荐 	 -->
		<div id="commend" class="">
			<img src="/static/images/2ba20598135dbba5e97d241ebfa167d9.jpg" width="100%" height="auto" border="0" alt="">
			<img src="/static/images/25af37592bf484fbeaef1cc4ff1e09c7.jpg" width="100%" height="auto" border="0" alt="">
			<img src="/static/images/d72b849b461c08d991c265df00a1bfde.jpg" width="100%" height="auto" border="0" alt="">
			<img src="/static/images/904419aa2e364412b3c07c3cbda24ef9.jpg" class="no-margin">
		</div>

<!--4.主体信息 	 -->
		<div id="main" class="">
            <!--分上下结构-->
			<p>
				<a href="#">更多</a>
				<img src="/static/images/t4.png">
			</p>
            <!-- 信息展示 -->
			<div id="" class="item">
			    <div class="proImg">
					<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
			    </div>
				<p>
					欢乐时光水果果篮
					<img src="/static/images/cart.png">
				</p>
				<span class="">&yen; 188.00/1份</span>
			</div>

			<div id="" class="item">
				<div class="proImg">
					<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
			    </div>
				<p>
					欢乐时光水果果篮
					<img src="/static/images/cart.png">
				</p>
				<span class="">&yen; 188.00/1份</span>
			</div>

			<div id="" class="item">
				<div class="proImg">
					<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
			    </div>
				<p>
					欢乐时光水果果篮
					<img src="/static/images/cart.png">
				</p>
				<span class="">&yen; 188.00/1份</span>
			</div>

			<div class="item">
				<div id="" class="proImg">
					<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
			    </div>
				<p>
					欢乐时光水果果篮
					<img src="/static/images/cart.png">
				</p>
				<span class="">&yen; 188.00/1份</span>
			</div>

			<div id="" class="item no-margin">
				<div class="proImg">
					<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
			    </div>
				<p>
					欢乐时光水果果篮
					<img src="/static/images/cart.png">
				</p>
				<span class="">&yen; 188.00/1份</span>
			</div>


			<div id="" class="item">
			    <div class="proImg">
					<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
			    </div>
				<p>
					欢乐时光水果果篮
					<img src="/static/images/cart.png">
				</p>
				<span class="">&yen; 188.00/1份</span>
			</div>

			<div id="" class="item">
				<div class="proImg">
					<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
			    </div>
				<p>
					欢乐时光水果果篮
					<img src="/static/images/cart.png">
				</p>
				<span class="">&yen; 188.00/1份</span>
			</div>

			<div id="" class="item">
				<div class="proImg">
					<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
			    </div>
				<p>
					欢乐时光水果果篮
					<img src="/static/images/cart.png">
				</p>
				<span class="">&yen; 188.00/1份</span>
			</div>

			<div class="item">
				<div id="" class="proImg">
					<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
			    </div>
				<p>
					欢乐时光水果果篮
					<img src="/static/images/cart.png">
				</p>
				<span class="">&yen; 188.00/1份</span>
			</div>

			<div id="" class="item no-margin">
				<div class="proImg">
					<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
			    </div>
				<p>
					欢乐时光水果果篮
					<img src="/static/images/cart.png">
				</p>
				<span class="">&yen; 188.00/1份</span>
			</div>
		</div>
	</div>
 </body>
</html>
